@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: "Quicksand", sans-serif;
  --primary-color: #4d869c;
  --secondary-color: #7ab2b2;
  --light-color: #eef7ff;
  --light-secondary-color: #cde8e5;
}

body {
  font-family: var(--font-family);
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 40px;
  overflow: auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.flex-d-column {
  flex-direction: column;
}